.border {
    
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
    border-radius: 6px;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
}


.inside-border {

    width: 100%;
    height: 100%;
}

.Agent {

    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Agent-Description {

    padding: 10px;
    background-color: rgb(106, 103, 103);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


.description {

    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.4;
}


.btn-view {

    display: flex;
    justify-content: center;
    padding: 5px 5px;
}


.btn {

    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(40, 115, 176);
    color: white;
    transition: opacity 1s;
    font-family: 'Roboto', sans-serif;
}


.btn:hover {

    opacity: 0.9;
}


.btn:active {

    opacity: 0.5;
}


.main-section {
    
    position: absolute;
    top: 50%;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.Agent-Promotion {

    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 320px;
    background-color: rgb(106, 103, 103);
    border: 1px solid  rgb(106, 103, 103);
    background-image: url(../image/samp2.jpeg);
    background-size: cover;
    background-position: center;  /* centers the image */
    background-repeat: no-repeat;
}


.Top-Agent {

    position: relative;
    left: 70%;
    height: 318px;
    width: 450px;
    border-radius: 0 0 20px 180px;
    background-color: #fff;
}


.border-image {

    position: absolute;
    top: 13%;
    left: 70%;
    height: 120px;
    width: 120px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid black;
}


.agent-profile {

    width: 100%;
    object-fit: cover;
}



.secondary-agent {

    position: absolute;
    top: 60%;
    left: 70%;
    height: 120px;
    width: 120px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid black;
}


.first-agent {

    position: absolute;
    top: 25%;
    left: 10%;
    max-height: 100%;
    width: 220px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden; 
}


.title {

    display: inline-block;
    position: relative;
    top: 0%;
    left: 18%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}


.Feature {

    border: 1px solid black;
    height: 320px;
    width: 69%;
    position: absolute;
    top: 8px;
}


.Division-Portfollio {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 720px;
    background-color: #fff;
}


.Agent-Profile {

    display: inline-block;
    border: 1px solid black;
    width: 250px;
    height: 200px;
    position: absolute;
    left: 6%;
    top: 3%;
    border-radius: 200px;
}



.Profile {

    max-width: 100%;
    height: 100%;
    border-radius: 200px;
    background-position: center;
}


.Information {

    display: inline-block;
    position: absolute;
    left: 8%;
    top: 230px;
}


.Name {

    text-transform: uppercase;
    font-weight: 500;
}


.List-Contract {

    border: 1px solid black;
    display: inline-block;
    position: absolute;
    left: 3%;
    bottom: 15%;
    width: 350px;
    height: 300px;
}