@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {

<<<<<<< HEAD
=======
    margin-top: 10px;
    width: 100%;
    height: 90px;
>>>>>>> ed995f94e559f618dab7c20297e284aee17d6ce8
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}


.text-content {

    max-width: 500px;
}


.logo-division {

    width: 250px;
    height: 50px;
    margin-right: 100px;
}


.logo {

    height: 100%;
    border-radius: 50px;
    margin-left: 30px;
}


.Content-Field {

    display: flex;
    flex: 1;
    justify-content: space-between;
}

.Content-Field a {

    font-family: "Montserrat", sans-serif;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 18px;
    color: black;

=======
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
>>>>>>> ed995f94e559f618dab7c20297e284aee17d6ce8
}


.buttons {

    width: 250px;
    margin-left: 100px;
    display: flex;
}


.btn {

    padding: 10px 10px;
    background-color: rgb(40, 115, 176);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: opacity 1s;
    margin-right: 20px;
} 


.btn:hover {

    opacity: 0.9;
}


.btn:active {

    opacity: 0.5;
}
