.Login-Division {

    height: 600px;
    width: 1000px;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 20rem 20rem 0 0;
    background-color: rgba(121, 90, 50, 0.433);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.Login-Division.active {
    opacity: 1;
    transform: translateY(0);
}


.center-line {

    position: relative;
    top: 0;
    left: 50%;
    width: 15px;
    height: 100%;
    background: #ffffff;
    transform: translateX(-50%);
    border-radius: 10px;
}


.fill-division {

    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-fields {

    position: relative;
    margin-bottom: 30px;
}


.input-fields input {

    padding: 14px 10px;
    font-size: 15px;
}


.input-fields label {

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    padding: 0 4px;
    transition: 0.2s ease;
}


.username {

    padding: 10px 10px;
    border-radius: 10px 0 10px 0;
    border: none;
    width: 200px;
   
}


.password {

    padding: 10px 10px;
    border-radius: 10px 0 10px 0;
    border: none;
    width: 200px;
}


.login-btn {

    display: flex;
    justify-content: center;
    padding-top: 3px;
}


.login-btn button {

    padding: 10px 20px;
    background-color: rgb(40, 115, 176);
    color: white;
    border: none;
    border-radius: 5px;
}


.login-btn button:hover {

    opacity: 0.9;
}


.login-btn button:active {

    opacity: 0.5;
}


.Signup-Division {

    position: absolute;
    top: 30%;
    left: 60%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Email,
.Password,
.Confirm-Password,
.Code {

    padding: 10px 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}


.Submit-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


.submit {

    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: rgb(40, 115, 176);
    border-radius: 5px;
    transition: opacity 1s;
}


.submit:hover {

    opacity: 0.9;
}


.submit:active {

    opacity: 0.5;
}


.CodeBtn {

    position: absolute;
    bottom: 42%;
    left: 200px;
    background-color: rgb(40, 115, 176);
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
}


.input-fields input:focus + label,
.input-fields input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: 18px;
  color: #1976d2;
}