.text-description {

    display: flex;
    align-items: center;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 5%;
}


.text-content {

    text-align: justify;
}


.text {

    font-size: 25px;
    text-transform: uppercase;
}


.image-division {

    width: 700px;
    height: 400px;
    position: relative;
    left: 50%;
    top: 40px;
}


.image-content {

    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.agent {

    text-decoration: none;
    color: black;
}