.Main-Image {

    margin-top: 10px;
    height: 350px;
    width: 300px;
}


.Image {

    height: 180px;
}


.pic {

    height: 100%;
    width: 100%;
}


.Content {

    height: 170px;
    border: 1px solid rgb(213, 213, 213);
}



.text {

    margin: 0;
    font-size: 15px;
    padding: 10px 5px;
    font-family: "Montserrat", sans-serif;
}


.division-button {

    display: flex;
    justify-content: center;
}


.view-more-btn {

    padding: 8px 10px;
    background-color: rgba(30, 128, 232, 0.786);
    color: #fff;
    border: none;
    border-radius: 3px;
}